@media (min-width: 320px) and (max-width: 387px){
    #hero .banner .heading .banner_btns {
        flex-wrap: wrap;
    }
    .workout {
        transform: translateY(40%);
        left: 35%;
    }
}
@media (min-width: 388px) and (max-width: 576px){
    .workout {
        top: 10%;
        transform: translateX(15%);
    }
}
/* ===================X-Small device============================= */
@media (min-width: 320px) and (max-width: 576px) {

    .container{
        width: 100%;
    }
    .xs_d_none{
        display: none;
    }
    .xs_gs-4{
        grid-column: span 4;
    }
    .ff_miama {
        font-size: 69px;
    }
    /* ===Common for all heading=== */
    .sec_title h3 {
        font-size: 32px;
    }
    /* ============Common for buttons=========== */
    .btn a, .in_btn {
        width: 100%;
        text-align: center;
    }
    /* ===============HERO PART================= */
    #hero {
        padding: 52px 20px 0;
    }
    #hero .navbar .nav-items{
        display: none;
    }
    #hero .burger{
        display: block;
        color: #FFFFFF;
    }
    #hero .banner {
        flex-direction: column;
        padding-top: 0;
    }
    #hero .banner .heading {
        width: 100%;
    }
    #hero .banner .heading h1 {
        margin-top: 51px;
        font-size: 36px;
        width: 80%;
    }
    #hero .banner .hero_imgs {
        margin: 0 auto;
    }
    #hero .banner .heading .banner_btns {
        justify-content: center;
    }
    .work_h3 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 3px;
    }
    .work_p {
        font-size: 11px;
        line-height: 15px;
    }
    .video {
        top: 45%;
        right: 50%;
    }
    /* ===============HABIT PART============== */
    #habit_part {
        padding: 0 27px;
    }
    #habit_part .habits {
        flex-direction: column;
    }
    #habit_part .habits .habit{
        margin-bottom: 36px;
    }
    /* ===============RUN_Extra PART============ */
    #run_extra{
        padding: 0 20px;
    }
    #run_extra .run_ex_bg {
        flex-direction: column;
    }
    #run_extra .run_ex h4 {
        font-size: 32px;
    }
    #run_extra .run_ex {
        width: 90%;
    }
    #run_extra .run_ex_bg .run_img {
        width: 100%;
        height: 100%;
        margin-top: 31px;
    }
    /* ==========TRAIN_Exercise PART================= */
    #train_exercise {
        padding: 66px 20px 0;
    }
    /* ==Equip PART================ */
    #equip{
        padding: 80px 30px;
    }
    #equip .items {
        flex-direction: column;
        gap: 20px;
    }
    #equip .items .item {
        width: 100%;
    }
    /* ==BMI_CALC part== */
    #bmi_calc {
        padding: 22px 20px 32px;
    }
    #bmi_calc .bmi_t_c {
        width: 98%;
    }
    /* ==BMI PART== */
    #bmi {
        padding: 34px 20px 43px;
    }
    #bmi .bmi_cc {
        flex-direction: column;
        gap: 42px;
    }
    #bmi .bmi_cc .bmi_chart {
        width: 100%;
    }
    #bmi .bmi_cc .bmi_chart h5 {
        font-size: 16px;
        margin-bottom: 23px;
    }
    #bmi .bmi_cc .bmi_calculator {
        width: 100%;
    }
    #bmi .bmi_cc .bmi_calculator h5 {
        font-size: 16px;
    }
    #bmi .bmi_cc .bmi_calculator form {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    /* ==TEAM part== */
    #team {
        padding: 66px 20px;
    }
    #team .team_members {
        grid-template-columns: 1fr;
    }
    /* ==FOOTER Part== */
    #footer {
        padding: 44px 20px 57px;
    }
    #footer .f_c {
        flex-direction: column;
    }
    #footer .f_c .f_logo,
    #footer .f_c .get_start {
        width: 100%;
    }
    #footer .f_c .f_logo p {
        width: 88%;
        margin-bottom: 30px;
    }
    #footer .f_c .get_start h5 {
        margin-bottom: 30px;
    }
    #footer .f_c .get_start ul li .last {
        margin-bottom: 60px;
    }
}
/* ===================Small device============================= */
@media (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .s_d_none{
        display: none;
    }
    .ff_miama {
        font-size: 125px;
    }
    /* ===Common for all heading=== */
    .sec_title h3 {
        font-size: 32px;
    }
    /* ===Common for buttons=== */
    .btn a, .in_btn {
        width: 100%;
        text-align: center;
    }
    /* ==HERO PART== */
    #hero {
        padding: 52px 30px 0;
    }
    #hero .navbar .nav-items{
        display: none;
    }
    #hero .burger{
        display: block;
        color: #FFFFFF;
    }
    #hero .banner {
        flex-direction: column;
        padding-top: 0;
    }
    #hero .banner .heading {
        width: 100%;
    }
    #hero .banner .heading h1 {
        margin-top: 75px;
        font-size: 78px;
        width: 80%;
    }
    #hero .banner .heading .banner_btns {
        justify-content: center;
    }
    #hero .banner .hero_imgs {
        margin: 0 auto;
    }
    .work_h3 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 3px;
    }
    .work_p {
        font-size: 11px;
        line-height: 15px;
    }
    .workout {
        top: 10%;
        transform: translateX(15%);
    }
    .video {
        top: 45%;
        right: 50%;
    }
    /* ==HABIT PART== */
    #habit_part {
        padding: 100px 30px;
    }
    #habit_part .habits {
        flex-wrap: wrap;
    }
    #habit_part .habits .habit{
        margin-bottom: 36px;
        width: 49%;
    }
    /* ==RUN_Extra PART== */
    #run_extra{
        padding: 0 30px;
    }
    #run_extra .run_ex_bg {
        gap: 20px;
    }
    #run_extra .run_ex h4 {
        font-size: 32px;
    }
    #run_extra .run_ex {
        width: 90%;
    }
    #run_extra .run_ex_bg .run_img {
        width: 100%;
    }
    /* ==TRAIN_Exercise PART== */
    #train_exercise {
        padding: 66px 30px 0;
    }
    /* ==equip PART== */
    #equip{
         padding: 80px 30px;
    }
    #equip .items {
        gap: 15px;
        margin-top: 30px;
    }
    #equip .items .item p {
       margin-bottom: 10px;
    }
    #equip .items .item {
        width: 100%;
    }
    /* ==BMI_CALC part== */
    #bmi_calc {
        padding: 22px 30px 32px;
    }
    #bmi_calc .bmi_t_c {
        width: 98%;
    }
    /* ==BMI PART== */
    #bmi {
        padding: 34px 30px 43px;
    }
    #bmi .bmi_cc {
        flex-direction: column;
        gap: 42px;
    }
    #bmi .bmi_cc .bmi_chart h5 {
        font-size: 28px;
        margin-bottom: 23px;
    }
    #bmi .bmi_cc .bmi_calculator {
        width: 100%;
    }
    #bmi .bmi_cc .bmi_calculator h5 {
        font-size: 28px;
    }
    #bmi .bmi_cc .bmi_calculator form {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    /* ==TEAM part== */
    #team {
        padding: 77px 30px;
    }
    /* ==FOOTER Part== */
    #footer {
        padding: 44px 30px 57px;
    }
    #footer .f_c {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #footer .f_c .f_logo{
        width: 100%;
    }
    #footer .f_c .get_start {
        width: 50%;
    }
    #footer .f_c .f_logo p {
        width: 88%;
        margin-bottom: 30px;
    }
    #footer .f_c .get_start h5 {
        margin-bottom: 30px;
    }
    #footer .f_c .get_start ul li .last {
        margin-bottom: 60px;
    }
}
/* ===================Medium device============================= */
@media (min-width: 993px) and (max-width: 1200px) { ... }